body {
    background-color: rgb(50, 20, 180);
    margin-bottom: 10px;
}

.card {
    width: 90%;
    max-width: 460px;
    background: linear-gradient(150deg, rgba(32, 95, 190, 0.667), #e8e7f3);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #fff;
    color: #555;
    height: 40px;
    padding: 20px 95px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}


.search button{
    border: 0;
    outline: 0;
    background: rgba(58, 75, 102, 0); /* Cor transparente: 0 de alfa */
    border-radius: 5px;
    width: 80px;
    height: 60px;
    cursor: pointer;
    
}


.weather-icon{

   width: 70px;
   margin-top: 46px;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;

}


.weather h2{
    font-size: 45px;
    font-weight: 400;
    
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;

}

.copyright {
    color: rgb(3, 45, 99);
    font-weight: 600;
}
.humidity, .wind{
    font-size: 25px;
    margin-top: 10px;

}

/* Media query para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .card {
        padding: 30px 20px; /* Reduz o padding para melhorar o espaçamento em telas menores */
    }

    .search {
        width: 100%; /* Ocupa toda a largura disponível */
        margin-bottom: 20px; /* Adiciona espaço abaixo do bloco de pesquisa */
    }

    .search input {
        padding: 15px 20px; /* Reduz o padding do input */
        font-size: 16px; /* Reduz o tamanho da fonte do input */
    }

    .search button {
        width: 100px; /* Aumenta um pouco a largura do botão */
        height: 50px; /* Reduz a altura do botão */
    }

    .weather h1 {
        font-size: 40px; /* Reduz o tamanho da fonte do título principal do clima */
    }

    .weather h2 {
        font-size: 30px; /* Reduz o tamanho da fonte do subtítulo do clima */
    }

    .weather-icon {
        width: 50px; /* Reduz o tamanho do ícone de clima */
        margin-top: 30px; /* Reduz a margem superior do ícone de clima */
    }

    .details {
        flex-direction: column; /* Altera para coluna para melhor visualização em dispositivos móveis */
        margin-top: 30px; /* Reduz a margem superior entre os detalhes */
    }

    .col img {
        width: 30px; /* Reduz o tamanho do ícone dentro das colunas */
    }

    .humidity,
    .wind {
        font-size: 20px; /* Reduz o tamanho da fonte dos detalhes de umidade e vento */
    }
}